@mixin scrollBar($color, $width: 8px) {
  overflow: hidden;
  overflow-y: auto;

  @include media-breakpoint-up(sm) {
    &::-webkit-scrollbar {
      width: $width;
      background-color: rgba($color, 0.5);
    }

    &::-webkit-scrollbar-thumb {
      background-color: $color;
    }
  }
}

@mixin gradientColor($initColor, $endColor) {
  background: $initColor;
  background: linear-gradient(90deg, $initColor 0%, $endColor 100%);
}
